h3{
    color: red;
}
p{
    color:blue;
    border: 2px solid red;
}
/* #29 element selector */
#differentp{
color: chartreuse;
}
/* #30 id selector : if we want to target a different paragraph use id in that paragraph and in css selector should be '#idname' */
.newc{
    color: cyan;
}
.newb{
    background-color: black;
}
/* #31 class selector : if we want to select multiple paragraphs we can apply same class to all of them and in css selector should be '.idname' */
#para{
    color:orange;
    }

    span,footer{
        background-color: plum;
    } /* #32 grouping seletor: we can group different tags(here span and footer) */
   