
doctype html
html
  head
    title kabir dance academy
    block scripts
    block style
  body
    nav#navbar 
        ul 
            div#logo
                img(src='static/logo/pngwing.com.png')
                |HDA 
            li #[a(href="/") home ]
            li #[a(href="/") about]
            li #[a(href="/") services ]
            li #[a(href="/") class info]
            li #[a(href="/contact") contact us]
    block content
    footer#footer 
        h2 Copyright © 2022 kabirDanceAcademy.com | all rights reserved 