//     topic: #pug template engine

// #153.3 template engine:it takes in information in the form of a string and output it in the form of a template.

html
  head
    title= title
  body
    h1= message